<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test  parallel="classes" thread-count="2" verbose="2" preserve-order="true" name="C:/Users/srinivas.mudapaka/IdeaProjects/POMProject">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="TC01_ValidateLoginSuccessful"></class>
            <class name="TC02_ValidateAccountPageDisplayed"></class>

        </classes>
    </test>
</suite>